@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210, 40%, 98%;
    --foreground: 240 10% 3.9%;

    --card: 210, 40%, 98%;
    --card-foreground: 240 10% 3.9%;

    --popover: 210, 40%, 98%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 239, 84%, 67%;
    --primary-hover: 243, 75%, 59%;
    --primary-foreground: 355.7 100% 97.3%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 94%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --input-bg: 240 10% 97%;

    --ring: 240 10% 3.9%;
    --radius: 0.3rem;

    --scrollbar: 240 4.8% 88%;
  }

  .dark {
    color-scheme: dark;

    --background: 240 10% 9%;
    --foreground: 0 0% 95%;

    --card: 240 10% 12%;
    --card-foreground: 0 0% 95%;

    --popover: 240 10% 12%;
    --popover-foreground: 0 0% 95%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 10% 17%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 20.9%;
    --input-bg: 240 10% 12%;

    --ring: 0 0% 95%;
    --scrollbar: 240 10% 20%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply overflow-y-hidden bg-background text-foreground;
  }

  a {
    @apply transition-colors rounded-md ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded bg-scrollbar;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

html,
body,
#root {
  height: 100%;
}

.text-balance {
  text-wrap: balance;
}
